@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{vertical-align: middle;}
a{text-decoration: none;-webkit-tap-highlight-color: transparent;}
.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix{clear: both;}
.clearfix{*zoom:1;}
.gWidth{
	width: 14.775rem;
	margin-left: auto;
    margin-right: auto;
    background: #fff;
	margin-top: 0.5rem;
	border-radius: 0.15rem;
    box-shadow: 0 3px 3px #ccc;
}
body{
    font-family: "微软雅黑";
}