body{
    background: #E8E8E8;
}
/* 头部 */
header{
    width: 100%;
    height: 4.275rem;
    background-color: #38474F;
    position: fixed;
    left: 0;top: 0;
    z-index: 99;
}
.box{
    width: 14.775rem;
	margin-left: auto;
    margin-right: auto;
    padding-top: 0.575rem;
    box-sizing: border-box;
}
.head_top{
    width: 100%;
    height: 0.875rem;
    display: block;
}
.head_top .ht_fl{
    float: left;
}
.head_top .ht_fl span{
    font-size: 1.125rem;
    vertical-align: middle;
    font-weight: bold;
}
.head_top .ht_fl h3{
    color: #fff;
    font-size: 14px;
    display: inline-block;
    transform: translate(0.25rem,-0.125rem);
}
.head_top .ht_fr{
    float: right;
}
.head_top .ht_fr span{
    font-size: 0.75rem;
}
.head_top .ht_fr i{
    font-style: normal;
    color: #000;
    background: #fff;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 0.7rem;
    height: 0.475rem;
    line-height: 0.475rem;
    border-radius: 0.2rem;
    position: relative;
    top: -0.5rem;
    left: -0.5rem;
}
.head_bottom{
    width: 100%;
    height: 1.575rem;
    display: flex;
    margin-top: 0.75rem;
}
.head_bottom a{
    font-size: 14px;
    color: #fff;
    width: 6.95rem;
    height: 1.575rem;
    line-height: 1.575rem;
    text-align: center;
    border-radius: 0.125rem;
    background: #2D393F;
}
.head_bottom .btn2{
    margin-left: 0.75rem;
}
.head_bottom .active{
    background: #F5846A;
}
/* 轮播 */
.banner{
    height: 14.8rem;
    margin-top: 4.85rem;
    position: relative;
}
.lunbo{
    width: 100%;
    height: 11.75rem;
    position: relative;
    overflow: hidden;
}
.lunbo ul{
    width: 300%;
    height: 100%;
    position:absolute;
	left:0;top: 0;
}
.lunbo ul li{
    float: left;
}
.lunbo ul li img{
    width: 14.775rem;
    height: 11.75rem;
}
.lunbo ol{
    position: absolute;
    left: 1.05rem;
    bottom: 0.75rem;
}
.lunbo ol li{
    width: 0.5rem;
    height: 0.2rem;
    border-radius: 0.05rem;
    float: left;
    margin-left: 0.125rem;
    background: #D0D2D3;
}
.lunbo ol .active2{
    background: #67B0D6;
}
.banner_bottom{
    width: 100%;
}
.banner_bottom p{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-left: 1.05rem;
}
.banner_bottom a{
    display: inline-block;
    font-size: 14px;
    width: 3.6rem;
    height: 1.675rem;
    text-align: center;
    color: #fff;
    line-height: 1.675rem;
    border-radius: 0.125rem;
    background: #BFBFC3;
    margin-top: 0.7rem;
    float: right;
    margin-right: 0.7rem;
}
/* 加号 */
.jia{
    height: 2.475rem;
}
.jia span{
    font-size: 0.75rem;
    color: #A5A5AD;
    line-height: 2.475rem;
    margin-left: 1.05rem;
}
.jia p{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0.8rem;
    transform: translateY(-0.125rem);
}
/* 大块 */
.big{
    height: 12.725rem;
    position: relative;
}
.big .hr{
    height: 0.05rem;
    width: 11.35rem;
	margin-left: auto;
    margin-right: auto;
    background: #DBDBDB;
    position: relative;
    top: 50%;
}
.big .bigtop{
    text-align: center;
    position: absolute;
    left: 3.5rem;
}
.big .bigtop p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.85rem;
}
.big .bigtop p a{
    position: relative;
    left: 0.25rem;top: -0.125rem;
    color: black;
}
.big .bigtop span{
    width: 100%;
    color: #747474;
    font: 0.65rem "黑体";
}
.big .bigtop ul{
    height: 1.775rem;
    margin-top: 0.75rem;
}
.big .bigtop ul li{
    width: 1.775rem;
    height: 1.775rem;
    border-radius: 0.075rem;
    text-align: center;
    background: #EFC9CD;
    float: left;
    margin-left: 0.625rem;
}
.big .bigtop ul li:nth-child(2){
    background: #AF6779;
}
.big .bigtop ul li:nth-child(3){
    background: #87A5B1;
}
.big .bigtop ul li span{
    font-size: 0.7rem;
    color: #fff;
    line-height: 1.775rem;
}
.big .bigbtm{
    text-align: center;
    position: absolute;
    top: 6.5rem;
    left: 1.2rem;
}
.big .bigbtm p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.85rem;
}
.big .bigbtm p a{
    position: relative;
    left: 0.25rem;top: -0.125rem;
    color: black;
}
.big .bigbtm span{
    width: 100%;
    color: #747474;
    font: 0.65rem "黑体";
}
.big .bigbtm ul{
    width: 100%;
    height: 1.775rem;
    margin-top: 0.75rem;
}
.big .bigbtm ul li{
    width: 1.775rem;
    height: 1.775rem;
    border-radius: 0.075rem;
    text-align: center;
    background: #D9D9DD;
    float: left;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.775rem;
    margin-left: 0.625rem;
}
.big .bigbtm ul .active3{
    color: #fff;
    background: #67AFD5;
}
/* 卡片 */
.card{
    font-size: 14px;
    color: #fff;
    width: 6.925rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background: #394143;
    margin-left: auto;
    margin-right: auto;
	margin-top: 0.5rem;
	border-radius: 0.15rem;
    box-shadow: 0 3px 3px #ccc;
}
/* 底部 */
footer{
    height: 5rem;
    width: 14.775rem;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0.5rem;
}
.footop{
    width: 100%;
    height: 0.55rem;
}
.footop h4{
    text-indent: 0.3rem;
    font-size: 14px;
    width: 3.1rem;
    height: 0.55rem;
    line-height: 0.55rem;
    float: left;
}
.footop .foothr{
    width: 11rem;
    height: 0.05rem;
    background: #323B3E;
    float: right;
    margin-top: 0.275rem;
    margin-right: 0.3rem;
}
.ul1{
    width: 100%;
    margin-top: 1.125rem;
}
.ul1 .li1{
    float: left;
    margin-left: 0.75rem;
}
.ul1 .li1 div{
    display: inline-block;
}
.ul1 .li1 .yvan{
    text-align: center;
    width: 1.85rem;
    height: 1.85rem;
    color: #fff;
    line-height: 1.85rem;
    background: #56C2E9;
    border-radius: 50%;
}
.ul1 .qipao{
    font-size: 14px;
    width: 1.75rem;
    height: 1rem;
	line-height:1rem;
    text-indent: 0.5rem;
    background: url(../images/qipao.png) no-repeat left center/cover;
    vertical-align: middle;
}
.ul1 .li2 .yvan{
    background: #3A63B5;
}
.ul1 .li3 .yvan{
    background: #E43D59;
}